* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

ul, ol, li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #000;
}

img {
  border: 0;
}

em {
  font-style: normal;
}

button, input, select, textarea {
  font-family: "PingFangSC-Light", "Microsoft YaHei", sans-serif;
  font-size: 100%;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button[disabled] {
  background-color: #C7C7C7;
  cursor: default;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border: 0;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0;
  border-radius: 0;
}

::-webkit-scrollbar-track:hover {
  background: #fafafa;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

html {
  font-size: 14px;
}
@media (min-width: 1900px) {
  html {
    font-size: 32px;
  }
}
@media (min-width: 3000px) {
  html {
    font-size: 48px;
  }
}

body {
  color: #000;
  font-family: "PingFangSC-Light", "Microsoft YaHei", sans-serif;
  line-height: 1.2;
  overflow: hidden;
}

html, body {
  height: 100%;
}

.app,
.map,
.home {
  height: 100%;
  overflow: hidden;
}

.map-bd {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  height: 100%;
  -ms-touch-action: none;
      touch-action: none;
}

.search {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.search-toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 100%;
  width: 2.14rem;
  height: 2.14rem;
  background: url(../images/search-toggle.svg) no-repeat center center;
  background-size: contain;
}

.search-expand {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  bottom: 0;
  width: 20rem;
  background: #D7DDDE;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.38);
}
.search-expand .search-toggle {
  margin-left: 0;
}
.search-expand .search-collpase {
  display: block;
}

.search-collpase {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  width: 1.5rem;
  height: 2.5rem;
  background: rgba(40, 127, 255, 0.35);
}
.search-collpase:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 0.1rem;
  width: 0.6rem;
  height: 0.6rem;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: rotate(-45deg) translateX(-50%) translateY(-50%);
      -ms-transform: rotate(-45deg) translateX(-50%) translateY(-50%);
          transform: rotate(-45deg) translateX(-50%) translateY(-50%);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}

.search-inner {
  position: relative;
  height: 100%;
}

.search-hd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.5rem;
}

.search-field {
  padding: 0.2rem;
  border: 0;
  background: #fff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.search-submit {
  width: 2.5rem;
  background: #287FFF url(../images/search.svg) no-repeat center center;
  background-size: 54%;
}

.search-bd {
  height: calc(100% - 2.5rem);
  overflow: auto;
}

.search-list {
  width: 20rem;
  line-height: 2.25rem;
}
.search-list a {
  display: block;
  padding: 0 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search-list a:hover {
  background-color: #ccc;
  color: #0076FF;
}
.search-list ul {
  display: none;
  text-indent: 2em;
}

.search-item-dropdown > a {
  position: relative;
}
.search-item-dropdown > a:after {
  content: "";
  position: absolute;
  right: 0.5rem;
  top: 50%;
  margin-top: -0.1rem;
  width: 0.5rem;
  height: 0.5rem;
  border-right: 1px solid #9B9B9B;
  border-bottom: 1px solid #9B9B9B;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.search-item-expand ul {
  display: block;
}
.search-item-expand > a:after {
  margin-top: 0.16rem;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
          transform: translateX(-50%) translateY(-50%) rotate(-135deg);
}

.search-accident {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.search-accident a {
  color: #FF5E05;
}

.video-list {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.video-expand {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.video-toggle {
  position: absolute;
  left: -1.72rem;
  top: 50%;
  width: 1.72rem;
  height: 3.5rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../images/toggle.svg) no-repeat right center;
  background-size: cover;
}
.video-toggle:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url(../images/triangle.svg) no-repeat center center;
  background-size: 0.5rem auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.video-expand .video-toggle:after {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.video-list-inner {
  width: 22.85rem;
  height: 100%;
  padding: 1.07rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.video-item {
  width: 20.71rem;
}

.video-item-selected .video-item-order {
  background-color: rgba(255, 94, 5, 0.6);
}

.video-item-hd {
  position: relative;
}
.video-item-hd canvas {
  display: block;
  width: 20.71rem;
  height: 11.68rem;
  border-radius: 0.28rem;
}

.video-status {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 2.86rem;
  height: 2.86rem;
  background: url(../images/play.svg) no-repeat center center;
  background-size: 2.85rem;
}
.video-playing .video-status {
  background-image: url(../images/pause.svg);
}

.video-item-order {
  position: absolute;
  right: 0.35rem;
  top: 0.35rem;
  width: 1.78rem;
  line-height: 1.88rem;
  border-radius: 100%;
  background-color: rgba(0, 118, 255, 0.6);
  color: #fff;
  font-size: 1.28rem;
  text-align: center;
}

.video-btn-fullscreen {
  position: absolute;
  left: 0.35rem;
  top: 0.35rem;
  width: 1.72rem;
  height: 1.72rem;
  background: url(../images/fullscreen.svg) no-repeat center center;
  background-size: contain;
  opacity: 0.75;
}

.video-item-bd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.35rem 0;
  color: #fff;
}

.video-id {
  font-size: 1.28rem;
}

.video-title {
  margin: 0 0.35rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.video-title p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 2.29rem;
  overflow: hidden;
}

.video-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.video-tools button {
  width: 1.72rem;
  height: 1.72rem;
  border: 0;
  background-color: rgba(255, 255, 255, 0.4);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  border-radius: 100%;
  margin-left: 0.35rem;
}
.video-tools button:first-child {
  margin-left: 0;
}
.video-tools .video-fullscreen,
.video-tools .video-restore {
  background-size: contain;
  background-color: transparent;
}

.video-tools-offset {
  right: 6.14em !important;
}

.video-play {
  background-image: url(../images/video.svg);
}

.video-camera {
  background-image: url(../images/camera.svg);
}

.video-share {
  background-image: url(../images/share.svg);
}

.video-fullscreen {
  background-image: url(../images/fullscreen-dark.svg);
}

.video-restore {
  background-image: url(../images/restore-dark.svg);
}

.video-top {
  position: absolute;
  right: 0;
  bottom: 1rem;
  width: 1.93rem;
  height: 2.86rem;
  background: url(../images/top.svg) no-repeat center center;
  background-size: contain;
}

.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.fullscreen-aside {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  bottom: 0;
  width: 15rem;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: #fff;
}

.fullscreen-toggle {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  width: 1.5rem;
  height: 2.5rem;
  background: rgba(40, 127, 255, 0.35);
}
.fullscreen-toggle:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -0.1rem;
  width: 0.6rem;
  height: 0.6rem;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: rotate(135deg) translateX(-50%) translateY(-50%);
      -ms-transform: rotate(135deg) translateX(-50%) translateY(-50%);
          transform: rotate(135deg) translateX(-50%) translateY(-50%);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.live {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.live-aside {
  position: relative;
  z-index: 10;
  width: 20rem;
  margin-left: -20rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: #fff;
}
.live-aside-selected .live-aside {
  margin-left: 0;
}

.live-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.live-aside-selected .fullscreen-toggle:after,
.fullscreen-toggle-aside .fullscreen-toggle:after {
  margin-left: 0.1rem;
  -webkit-transform: rotate(-45deg) translateX(-50%) translateY(-50%);
      -ms-transform: rotate(-45deg) translateX(-50%) translateY(-50%);
          transform: rotate(-45deg) translateX(-50%) translateY(-50%);
}

.fullscreen-toggle-aside {
  left: 15rem;
}
.fullscreen-toggle-aside .fullscreen-aside {
  left: -15rem;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.fullscreen-cameraview .fullscreen-back,
.fullscreen-matrixvideo .fullscreen-back {
  display: none;
}
.fullscreen-cameraview .fullscreen-hd,
.fullscreen-matrixvideo .fullscreen-hd {
  left: 2.14rem;
}

.live-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.live-tab-item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-height: calc(100% - 2.5rem);
}

.live-tab-ft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.live-tab-ft button {
  width: 50%;
  height: 2.5rem;
  border: 0;
  background: #D8D8D8;
}

.live-selected-camera .live-tab-btn-camera,
.live-selected-matrix .live-tab-btn-matrix {
  background: #000;
  color: #fff;
}

.live-main-bd {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  max-height: 100%;
}
.live-main-bd .fullscreen {
  position: absolute;
}

.live-main-ft {
  position: relative;
  margin-bottom: -100%;
  height: 40%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.live-main-toggle {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: -1.5rem;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 2.5rem;
  height: 1.5rem;
  background: rgba(40, 127, 255, 0.35);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.live-main-toggle:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.6rem;
  height: 0.6rem;
  margin-top: 0.15rem;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(-45deg) translateX(-50%) translateY(-50%);
      -ms-transform: rotate(-45deg) translateX(-50%) translateY(-50%);
          transform: rotate(-45deg) translateX(-50%) translateY(-50%);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.live-main-selected {
  margin: 0.6rem 0 0 0;
}
.live-main-selected .live-main-toggle {
  top: 0;
}
.live-main-selected .live-main-toggle:after {
  margin-top: -0.15rem;
  -webkit-transform: rotate(135deg) translateX(-50%) translateY(-50%);
      -ms-transform: rotate(135deg) translateX(-50%) translateY(-50%);
          transform: rotate(135deg) translateX(-50%) translateY(-50%);
}

.video-box {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
}
.video-box img {
  display: block;
  height: 100%;
}
.video-box canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.video-restore {
  display: none;
}

.live-video:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
.live-video:-webkit-full-screen .live-main-toggle,
.live-video:-webkit-full-screen .video-fullscreen {
  display: none;
}
.live-video:-webkit-full-screen .video-restore {
  display: block;
}
.live-video:-moz-full-screen {
  width: 100%;
  height: 100%;
}
.live-video:-moz-full-screen .live-main-toggle,
.live-video:-moz-full-screen .video-fullscreen {
  display: none;
}
.live-video:-moz-full-screen .video-restore {
  display: block;
}
.live-video:-ms-full-screen {
  width: 100%;
  height: 100%;
}
.live-video:-ms-full-screen .live-main-toggle,
.live-video:-ms-full-screen .video-fullscreen {
  display: none;
}
.live-video:-ms-full-screen .video-restore {
  display: block;
}
.live-video:full-screen {
  width: 100%;
  height: 100%;
}
.live-video:full-screen .live-main-toggle,
.live-video:full-screen .video-fullscreen {
  display: none;
}
.live-video:full-screen .video-restore {
  display: block;
}

.cameraview-img {
  position: relative;
}
.cameraview-img img {
  display: block;
  width: 100%;
}
.cameraview-img button {
  position: absolute;
  width: 2.71rem;
  height: 2.71rem;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border-radius: 100px;
  opacity: 0.6;
  background: #0076FF;
}

.cameraview-selected-1 .cameraview-pointer-1, .cameraview-selected-2 .cameraview-pointer-2, .cameraview-selected-3 .cameraview-pointer-3, .cameraview-selected-4 .cameraview-pointer-4, .cameraview-selected-head .cameraview-pointer-head, .cameraview-selected-tail .cameraview-pointer-tail {
  background-color: #FFA500;
}

.matrixvideo-list {
  position: absolute;
  left: 0;
  top: 0;
  width: 20rem;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.matrixvideo-list li {
  position: relative;
  border-bottom: 1px solid #979797;
}
.matrixvideo-list a {
  display: block;
  position: relative;
  padding: 0 0.5rem 0 3rem;
  line-height: 3;
}
.matrixvideo-list em {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.matrixvideo-list .selected, .matrixvideo-list .selected em,
.matrixvideo-list a:hover,
.matrixvideo-list a:hover em {
  color: #0076FF;
}

.matrixvideo-btn-expand {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 2rem;
  height: 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.matrixvideo-btn-expand:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.6rem;
  height: 0.6rem;
  margin-top: -0.15rem;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  -webkit-transform: rotate(135deg) translateX(-50%) translateY(-50%);
      -ms-transform: rotate(135deg) translateX(-50%) translateY(-50%);
          transform: rotate(135deg) translateX(-50%) translateY(-50%);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.matrixvideo-expand .matrixvideo-btn-expand:after {
  margin-top: 0.15rem;
  -webkit-transform: rotate(-45deg) translateX(-50%) translateY(-50%);
      -ms-transform: rotate(-45deg) translateX(-50%) translateY(-50%);
          transform: rotate(-45deg) translateX(-50%) translateY(-50%);
}

.matrixvideo-children {
  display: none;
  border-top: 1px solid #979797;
  text-indent: 1rem;
}
.matrixvideo-children a {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.matrixvideo-children em {
  max-width: calc(100% - 2rem);
}
.matrixvideo-children li:last-child {
  border-bottom: 0;
}
.matrixvideo-expand .matrixvideo-children {
  display: block;
}

.matrixvideo-list-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 3rem;
  height: 100%;
  line-height: 1.1;
}

.matrixvideo-type {
  padding: 0 0.2rem;
  border: 1px solid #979797;
  border-radius: 5px;
  font-size: 12px;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.camera-icon-1:before {
  background-image: url(../images/camera-1.svg);
}

.camera-icon-2:before {
  background-image: url(../images/camera-2.svg);
}

.camera-icon-3:before {
  background-image: url(../images/camera-3.svg);
}

.fullscreen .video-tools,
.plane .video-tools {
  position: absolute;
  right: 1.14rem;
  top: 1.14rem;
  z-index: 10;
}
.fullscreen .video-tools button,
.plane .video-tools button {
  width: 3.21rem;
  height: 3.21rem;
  margin-left: 1.07rem;
}

.fullscreen-bd,
.fullscreen-canvas {
  position: absolute;
  left: 0;
  width: 100%;
}

.fullscreen-bd {
  top: 0;
  height: 100%;
}

.fullscreen-canvas {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -ms-touch-action: none;
      touch-action: none;
}
.fullscreen-canvas:before {
  display: block;
  content: "";
  padding-top: 56%;
}

.fullscreen-hd {
  position: absolute;
  left: 1.14rem;
  top: 1.14rem;
}
.fullscreen-hd > button {
  float: left;
  margin-right: 0.5rem;
}

.fullscreen-back,
.fullscreen-close {
  width: 3.21rem;
  height: 3.21rem;
  background: no-repeat center center;
  background-size: auto 80%;
}

.fullscreen-back {
  background-image: url(../images/back.svg);
}

.fullscreen-close {
  background-image: url(../images/close.svg);
}

.fullscreen-btns {
  float: left;
}
.fullscreen-btns button {
  width: 3.21rem;
  height: 3.21rem;
  border-radius: 0.68rem;
  background-color: rgba(255, 255, 255, 0.4);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
}
.fullscreen-btns > button {
  margin-right: 0.5rem;
}
.plane .fullscreen-btns {
  left: 1.14rem;
}

.fullscreen-move {
  background-image: url(../images/move.svg);
}
.fullscreen-selected-bg .fullscreen-move {
  background-color: rgba(255, 255, 255, 0.8);
}
.fullscreen-matrixvideo .fullscreen-move {
  display: none;
}

.fullscreen-reset {
  background-image: url(../images/reset.svg);
}

.fullscreen-draw {
  position: relative;
  display: inline-block;
  width: 3.21rem;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 0.68rem;
}

.fullscreen-hd,
.video-tools {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.fullscreen-autohide .fullscreen-hd, .fullscreen-autohide
.video-tools {
  opacity: 0;
}

.fullscreen-pen {
  width: 3.21rem;
  height: 3.21rem;
  background: url(../images/pen.svg) no-repeat center center;
  background-size: 60%;
  cursor: pointer;
}
.fullscreen-pen:hover, .fullscreen-draw-expand .fullscreen-pen {
  background-color: rgba(255, 255, 255, 0.4);
}

.fullscreen-draw-expand {
  width: 12.84rem;
}

.fullscreen-draw-bd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 3.21rem;
  top: 0;
  height: 3.21rem;
  border-radius: 0 0.68rem 0.68rem 0;
}
.fullscreen-draw-bd li {
  width: 3.21rem;
  height: 3.21rem;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.fullscreen-draw-bd li:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.fullscreen-draw-bd li:hover:before {
  display: none;
}
.fullscreen-draw-bd li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 56%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border-left: 1px solid #000;
}
.fullscreen-draw-bd li:first-child:before {
  display: none;
}

.fullscreen-width,
.fullscreen-color {
  position: relative;
}
.fullscreen-width:after,
.fullscreen-color:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 1.6rem;
}

.fullscreen-width:after {
  background: #000;
}

.fullscreen-width-2:after {
  height: 2px;
}

.fullscreen-width-4:after {
  height: 4px;
}

.fullscreen-width-6:after {
  height: 6px;
}

.fullscreen-color:after {
  height: 1.6rem;
}

.fullscreen-color-ff0000:after {
  background-color: #ff0000;
}

.fullscreen-color-ffed00:after {
  background-color: #ffed00;
}

.fullscreen-color-0018ff:after {
  background-color: #0018ff;
}

.fullscreen-color-1cff00:after {
  background-color: #1cff00;
}

.fullscreen-clear {
  background-image: url(../images/clear.svg);
  background-size: 40%;
}

.plane {
  height: 100%;
  background: #000;
}

.plane-camera,
.plane-map {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}

.plane-camera,
.plane-map {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  color: #fff;
}

.plane-video-overlay,
.plane-map-overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.plane-view-map .plane-video-overlay,
.plane-view-camera .plane-map-overlay {
  display: block;
}

.plane-map .video-restore {
  display: none;
}

.plane-view-camera .plane-camera .video-restore,
.plane-view-map .plane-map .video-restore {
  display: block;
}

.plane-camera-hd {
  padding: 0.29rem 0 0.29rem 1rem;
  font-size: 1.29rem;
  line-height: 2.14rem;
}
.plane-camera-hd li {
  float: left;
  margin-left: 0.5rem;
}
.plane-camera-hd li:first-child {
  margin-left: 0;
}
.plane-camera-hd em {
  display: inline-block;
  padding: 0 2px;
  border-radius: 2px;
}

.plane-name {
  background-color: #5FAF03;
}

.plane-operator {
  background-color: #AF4F03;
}

.plane-address {
  background-color: #036DAF;
}

.plane-duration {
  background-color: #AEAF03;
}

.plane-camera-bd {
  position: relative;
  padding-top: 56%;
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}
.plane-camera-bd canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.plane-camera-ft {
  padding: 0.8rem;
  font-size: 1.71rem;
  line-height: 1.5;
}

.plane-map {
  left: 50%;
}

.plane-map-bd {
  width: 100%;
  height: 100%;
  -ms-touch-action: none;
      touch-action: none;
}

.plane-view-camera .plane-camera,
.plane-view-map .plane-map {
  left: 0;
  width: 100%;
}

.plane-view-camera .plane-camera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.plane-view-camera .plane-camera-bd {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 0;
}
.plane-view-camera .plane-camera-ft {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: calc(100% - 12rem);
  background: rgba(0, 0, 0, 0.5);
}

.plane-view-camera .plane-camera-hd {
  margin-left: -13.36rem;
}

.plane-view-map .fullscreen-btns,
.plane-view-map .plane-camera-bd .video-tools,
.plane-view-map .plane-camera-hd,
.plane-view-map .plane-camera-ft {
  display: none;
}

.plane-view-camera .plane-map,
.plane-view-map .plane-camera {
  z-index: 10;
  left: 100%;
  top: 100%;
  -webkit-transform: translateX(-100%) translateY(-100%);
      -ms-transform: translateX(-100%) translateY(-100%);
          transform: translateX(-100%) translateY(-100%);
  margin: -1.43rem 0 0 -1.43rem;
  width: 10.5rem;
  height: 10.5rem;
}

.plane-view-map .plane-camera {
  height: 5.91rem;
}

.share {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.share-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 57%;
  max-width: 67rem;
  max-height: 74%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border-radius: 10px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.share-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 36%;
  background: #CFCFCF;
  padding: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.share-aside img {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}
.share-aside p {
  font-size: 1.29rem;
}

.share-main {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 8.28rem;
}

.share-hd {
  position: absolute;
  left: 0;
  top: 1.43rem;
  width: 100%;
  padding: 0 1.43rem;
}
.share-hd h2 {
  float: left;
  font-size: 1.71rem;
}

.share-btn {
  float: right;
}
.share-btn button {
  margin-left: 1.4rem;
  width: 4.29rem;
  height: 2.14rem;
  border-radius: 0.36rem;
  background: #C7C7C7;
  color: #fff;
  font-size: 1.29rem;
}
.share-btn button[type="submit"] {
  background: #287FFF;
}
.share-btn button[disabled] {
  background-color: #C7C7C7;
}

.share-field {
  clear: both;
  width: 100%;
  margin-top: 1.43rem;
  padding: 0.3rem 0.5rem 0.3rem 2.3rem;
  border-radius: 0.5rem;
  border: 0;
  background: #fff url(../images/search2.svg) no-repeat 0.5rem center;
  background-size: auto 70%;
  font-size: 1.2rem;
}

.share-list {
  position: relative;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.share-list > ul {
  padding: 0 1.43rem;
}
.share-list li {
  position: relative;
  margin: 0.7rem 0;
  overflow: hidden;
}
.share-list li:before {
  content: "";
  float: left;
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
  border-radius: 10px;
  background-color: #D8D8D8;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 55%;
}
.share-list a:hover {
  color: #287FFF;
}
.share-list .share-user {
  padding-right: 2rem;
}
.share-list label {
  display: block;
  height: 3rem;
}

.share-child {
  display: none;
  clear: both;
  margin-left: 1.5rem;
}

.share-item-expand ul {
  display: block;
}

.empty {
  position: absolute;
  left: 50%;
  top: 30%;
  width: 80%;
  text-align: center;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.share-group:before {
  background-image: url(../images/group.svg);
}

.share-user:before {
  background-image: url(../images/user.svg);
}

.share-name {
  max-width: 15em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.29rem;
  line-height: 3rem;
}
.share-group .share-name {
  line-height: normal;
}

.share-summary {
  font-size: 1.07rem;
}

.checkbox input {
  display: none;
}
.checkbox i {
  content: "";
  display: inline-block;
  width: 1.82rem;
  height: 1.82rem;
  border: 1px solid #BDBDBD;
  border-radius: 100%;
  background: #fff url(../images/check.svg) no-repeat 0 -9999px;
  background-size: 55%;
}
.checkbox input:checked + i {
  background-color: #287FFF;
  background-position: center center;
}
.share .checkbox {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.fullscreen-bottom {
  position: absolute;
  right: 1.14rem;
  bottom: 1.14rem;
  width: 7.86rem;
}

.compass {
  position: relative;
  margin: 0 auto 1rem auto;
  padding-top: 100%;
  border-radius: 100rem;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.35);
}
.compass:before, .compass:after {
  content: "";
  position: absolute;
}
.compass:before {
  left: 50%;
  top: 0;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
.compass:after {
  top: 50%;
  left: 0;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.compass-camera,
.compass-type {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.compass-camera {
  width: 50%;
  height: 50%;
  background: url(../images/light.svg) no-repeat left center;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
  background-size: contain;
}

.compass-type {
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 1.5rem;
  height: 1.86rem;
  background-repeat: no-repeat;
  background-size: contain;
}
.compass-head .compass-type {
  background-image: url(../images/arrow.svg);
}
.compass-tail .compass-type {
  background-image: url(../images/arrow2.svg);
}

.pole {
  text-align: center;
}
.pole button,
.pole span {
  display: inline-block;
  margin-left: 0.5rem;
}

.pole-bd button {
  width: 1.8rem;
  height: 1.8rem;
  border: 0;
  border-radius: 100rem;
  background-color: rgba(255, 255, 255, 0.4);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 64%;
}

.pole-up {
  background-image: url(../images/pole-up.svg);
}

.pole-pause {
  background-image: url(../images/pole-pause.svg);
}
.pole-bd .pole-pause {
  background-size: 50%;
}

.pole-down {
  background-image: url(../images/pole-down.svg);
}

.pole-ft {
  margin-top: 0.2rem;
  padding-top: 0.2rem;
  border-top: 1px solid #fff;
  color: #fff;
}
.pole-ft span {
  width: 1.2rem;
}

.zoom {
  position: relative;
  width: 4.29rem;
  margin: 0 auto;
  border-radius: 0.29rem;
  background: rgba(255, 255, 255, 0.6);
  font-size: 0;
}
.zoom:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  height: 65%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border-left: 1px solid #4a4a4a;
}
.zoom button {
  width: 2.14rem;
  height: 2.14rem;
  background: no-repeat center center;
}
.zoom .zoom-in {
  background-image: url(../images/zoom-in.svg);
}
.zoom .zoom-out {
  background-image: url(../images/zoom-out.svg);
}

.video-direction {
  position: absolute;
  right: 1rem;
  bottom: 3.21rem;
}

.video-direction-bd {
  position: relative;
  width: 8.57rem;
  height: 8.57rem;
  background-size: contain;
  background: url(../images/direction.svg) no-repeat center center;
}

.video-direction-bd + .zoom,
.zoom + .video-direction-bd {
  margin-top: 1rem;
}

.video-direction-button {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.video-direction-north {
  top: 0.57rem;
  left: 50%;
  margin-left: -1rem;
  border-bottom: 1.43rem solid #000;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
}
.video-direction-north:active {
  border-bottom-color: #fff;
}

.video-direction-east {
  right: 0.57rem;
  top: 50%;
  margin-top: -1rem;
  border-left: 1.43rem solid #000;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
}
.video-direction-east:active {
  border-left-color: #fff;
}

.video-direction-south {
  bottom: 0.57rem;
  left: 50%;
  margin-left: -1rem;
  border-top: 1.43rem solid #000;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
}
.video-direction-south:active {
  border-top-color: #fff;
}

.video-direction-west {
  left: 0.57rem;
  top: 50%;
  margin-top: -1rem;
  border-right: 1.43rem solid #000;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
}
.video-direction-west:active {
  border-right-color: #fff;
}

.video-direction-center {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1.43rem 0 0 -1.43rem;
  width: 2.86rem;
  height: 2.86rem;
  border-radius: 100rem;
  line-height: 1;
  font-size: 1.29rem;
  text-align: center;
  color: #fff;
  background: url(../images/reset.svg) no-repeat center center;
  background-size: 50%;
}
.video-direction-center:active {
  background-color: #fff;
  color: #747474;
}

.loading {
  margin: 2rem auto;
  text-align: center;
}
.loading span {
  display: inline-block;
  padding-top: 3rem;
  background: url(../images/loading.svg) no-repeat center top;
  background-size: auto 2rem;
  color: #666;
}

/*# sourceMappingURL=all.css.map */