$fontfamily: "PingFangSC-Light", "Microsoft YaHei", sans-serif;

// sass-lint:disable no-universal-selectors
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}
ul, ol, li {
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
    &:hover {
        color: #000;
    }
}
img {
    border: 0;
}
em {
    font-style: normal;
}
button, input, select, textarea {
    font-family: $fontfamily;
    font-size: 100%;
}
button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    &[disabled] {
        background-color: #C7C7C7;
        cursor: default;
    }
}
.clearfix:after {
    content: ".";
    display: block; 
    clear: both; 
    height: 0; 
    font-size: 0; 
    visibility: hidden;
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border: 0;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #999;
}
::-webkit-scrollbar-track {
    background: transparent;
    border: 0;
    border-radius: 0;
}
::-webkit-scrollbar-track:hover {
    background: #fafafa;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
html {
    font-size: 14px;
    @media (min-width: 1900px) {
        font-size: 32px;
    }
    @media (min-width: 3000px) {
        font-size: 48px;
    }
}
body {
    color: #000;
    font-family: $fontfamily;
    line-height: 1.2;
    overflow: hidden;
}
html, body {
    height: 100%;
}
.app,
.map,
.home {
    height: 100%;
    overflow: hidden;
}
.map-bd {
    transform: scale(1.2);
    height: 100%;
    touch-action: none;
}
.search {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0.5s;
}
.search-toggle {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 100%;
    width: 2.14rem;
    height: 2.14rem;
    background: url(../images/search-toggle.svg) no-repeat center center;
    background-size: contain;
}
.search-expand {
    transform: translateX(0);
    bottom: 0;
    width: 20rem;
    background: #D7DDDE;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.38);
    .search-toggle {
        margin-left: 0;
    }
    .search-collpase {
        display: block;
    }
}
.search-collpase {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    width: 1.5rem;
    height: 2.5rem;
    background: rgba(40, 127, 255, 0.35);
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: 0.1rem;
        width: 0.6rem;
        height: 0.6rem;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        transform: rotate(-45deg) translateX(-50%) translateY(-50%);
        transform-origin: 0 0;
    }
}
.search-inner {
    position: relative;
    height: 100%;
}
.search-hd {
    display: flex;
    height: 2.5rem;
}
.search-field {
    padding: 0.2rem;
    border: 0;
    background: #fff;
    flex-grow: 1;
}
.search-submit {
    width: 2.5rem;
    background: #287FFF url(../images/search.svg) no-repeat center center;
    background-size: 54%;
}
.search-bd {
    height: calc(100% - 2.5rem);
    overflow: auto;
}
.search-list {
    width: 20rem;
    line-height: 2.25rem;
    a {
        display: block;
        padding: 0 0.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
            background-color: #ccc;
            color: #0076FF;
        }
    }
    ul {
        display: none;
        text-indent: 2em;
    }
}
.search-item-dropdown > a {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        right: 0.5rem;
        top: 50%;
        margin-top: -0.1rem;
        width: 0.5rem;
        height: 0.5rem;
        border-right: 1px solid #9B9B9B;
        border-bottom: 1px solid #9B9B9B;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transition: all 0.5s;
    }
}
.search-item-expand {
    ul {
        display: block;
    }
    > a:after {
        margin-top: 0.16rem;
        transform: translateX(-50%) translateY(-50%) rotate(-135deg);
    }
}
.search-accident {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    a {
        color: #FF5E05;
    }
}
.video-list {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    transition: all 0.5s;
    transform: translateX(100%);
}
.video-expand {
    transform: translateX(0);
}
.video-toggle {
    position: absolute;
    left: -1.72rem;
    top: 50%;
    width: 1.72rem;
    height: 3.5rem;
    transform: translateY(-50%);
    background: url(../images/toggle.svg) no-repeat right center;
    background-size: cover;
    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: url(../images/triangle.svg) no-repeat center center;
        background-size: 0.5rem auto;
        transition: all 0.5s;
        transform: rotate(-180deg);
        .video-expand & {
            transform: rotate(0);
        }
    }
}
.video-list-inner {
    width: 22.85rem;
    height: 100%;
    padding: 1.07rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.video-item {
    width: 20.71rem;
}
.video-item-selected {
    .video-item-order {
        background-color: rgba(255, 94, 5, 0.6);
    }
}
.video-item-hd {
    position: relative;
    canvas {
        display: block;
        width: 20.71rem;
        height: 11.68rem;
        border-radius: 0.28rem;
    }
}
.video-status {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 2.86rem;
    height: 2.86rem;
    background: url(../images/play.svg) no-repeat center center;
    background-size: 2.85rem;
    .video-playing & {
        background-image: url(../images/pause.svg);
    }
}
.video-item-order {
    position: absolute;
    right: 0.35rem;
    top: 0.35rem;
    width: 1.78rem;
    line-height: 1.88rem;
    border-radius: 100%;
    background-color: rgba(0, 118, 255, 0.6);
    color: #fff;
    font-size: 1.28rem;
    text-align: center;
}
.video-btn-fullscreen {
    position: absolute;
    left: 0.35rem;
    top: 0.35rem;
    width: 1.72rem;
    height: 1.72rem;
    background: url(../images/fullscreen.svg) no-repeat center center;
    background-size: contain;
    opacity: 0.75;
}
.video-item-bd {
    display: flex;
    align-items: center;
    padding: 0.35rem 0;
    color: #fff;
}
.video-id {
    font-size: 1.28rem;
}
.video-title {
    margin: 0 0.35rem;
    flex-grow: 1;
    p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; 
        height: 2.29rem;
        overflow: hidden;
    }
}
.video-tools {
    display: flex;
    button {
        width: 1.72rem;
        height: 1.72rem;
        border: 0;
        background-color: rgba(255, 255, 255, 0.4);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50%;
        border-radius: 100%;
        margin-left: 0.35rem;
        &:first-child {
            margin-left: 0;
        }
    }
    .video-fullscreen,
    .video-restore {
        background-size: contain;
        background-color: transparent;
    }
}
.video-tools-offset {
    right: 6.14em !important;
}
.video-play {
    background-image: url(../images/video.svg);    
}
.video-camera {
    background-image: url(../images/camera.svg);    
}
.video-share {
    background-image: url(../images/share.svg);
}
.video-fullscreen {
    background-image: url(../images/fullscreen-dark.svg);
}
.video-restore {
    background-image: url(../images/restore-dark.svg);
}
.video-top {
    position: absolute;
    right: 0;
    bottom: 1rem;
    width: 1.93rem;
    height: 2.86rem;
    background: url(../images/top.svg) no-repeat center center;
    background-size: contain;
}
.fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    transition: all 0.5s;
}
.fullscreen-aside {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    bottom: 0;
    width: 15rem;
    transform: translateX(-100%);
    transition: all 0.5s;
    background: #fff;
}
.fullscreen-toggle {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    width: 1.5rem;
    height: 2.5rem;
    background: rgba(40, 127, 255, 0.35);
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -0.1rem;
        width: 0.6rem;
        height: 0.6rem;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        transform: rotate(135deg) translateX(-50%) translateY(-50%);
        transform-origin: 0 0;
        transition: all 0.5s;
    }
}
.live {
    display: flex;
}
.live-aside {
    position: relative;
    z-index: 10;
    width: 20rem;
    margin-left: -20rem;
    transition: all 0.5s;
    background: #fff;
    .live-aside-selected & {
        margin-left: 0;
    }
}
.live-main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: hidden;
}
.live-aside-selected,
.fullscreen-toggle-aside {
    .fullscreen-toggle:after {
        margin-left: 0.1rem;
        transform: rotate(-45deg) translateX(-50%) translateY(-50%);
    }
}
.fullscreen-toggle-aside {
    left: 15rem;
    .fullscreen-aside {
        left: -15rem;
        transform: translateX(0); 
    }
}
.fullscreen-cameraview,
.fullscreen-matrixvideo {
    .fullscreen-back {
        display: none;
    }
    .fullscreen-hd {
        left: 2.14rem;
    }
}
.live-tab {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.live-tab-item {
    position: relative;
    flex-grow: 1;
    max-height: calc(100% - 2.5rem);
}
.live-tab-ft {
    display: flex;
    button {
        width: 50%;
        height: 2.5rem;
        border: 0;
        background: #D8D8D8;
    }
}
.live-selected-camera .live-tab-btn-camera,
.live-selected-matrix .live-tab-btn-matrix {
    background: #000;
    color: #fff;
}
.live-main-bd {
    position: relative;
    flex-grow: 1;
    transition: all 0.5s;
    max-height: 100%;
    .fullscreen {
        position: absolute;
    }
}
.live-main-ft {
    position: relative;
    margin-bottom: -100%;
    height: 40%;
    transition: all 0.5s;
}
.live-main-toggle {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: -1.5rem;
    transform: translateX(-50%);
    width: 2.5rem;
    height: 1.5rem;
    background: rgba(40, 127, 255, 0.35);
    transition: all 0.5s;
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 0.6rem;
        height: 0.6rem;
        margin-top: 0.15rem;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(-45deg) translateX(-50%) translateY(-50%);
        transform-origin: 0 0;
        transition: all 0.5s;
    }
}
.live-main-selected {
    margin: 0.6rem 0 0 0;
    .live-main-toggle {
        top: 0;
        &:after {
            margin-top: -0.15rem;
            transform: rotate(135deg) translateX(-50%) translateY(-50%);
        }
    }
}
.video-box {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    img {
        display: block;
        height: 100%;
    }
    canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
@mixin fullscreen() {
    &:-webkit-full-screen {
        @content;
    }

    &:-moz-full-screen {
        @content;
    }

    &:-ms-full-screen {
        @content;
    }
    
    &:full-screen {
        @content;
    }
}
.video-restore {
    display: none;
}
.live-video {
    @include fullscreen {
        width: 100%;
        height: 100%;
        .live-main-toggle,
        .video-fullscreen {
            display: none;
        }
        .video-restore {
            display: block;
        }
    }
}

.cameraview-img {
    position: relative;
    img {
        display: block;
        width: 100%;
    }
    button {
        position: absolute;
        width: 2.71rem;
        height: 2.71rem;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 100px;
        opacity: 0.6;
        background: #0076FF;
    }
}
%cameraview-selected {
    background-color: #FFA500;
}
$cameraview-pointer: 1 2 3 4 head tail;
@each $item in $cameraview-pointer {
    .cameraview-selected-#{$item} .cameraview-pointer-#{$item} {
        @extend %cameraview-selected;
    }
}
.matrixvideo-list {
    position: absolute;
    left: 0;
    top: 0;
    width: 20rem;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    li {
        position: relative;
        border-bottom: 1px solid #979797;
    }
    a {
        display: block;
        position: relative;
        padding: 0 0.5rem 0 3rem;
        line-height: 3;
    }
    em {
        display: inline-block;
        max-width: 100%;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .selected,
    a:hover {
        &, em {
            color: #0076FF;
        }
    }
}
.matrixvideo-btn-expand {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 2rem;
    height: 2rem;
    transition: all 0.5s;
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 0.6rem;
        height: 0.6rem;
        margin-top: -0.15rem;
        border-top: 1px solid #999;
        border-right: 1px solid #999;
        transform: rotate(135deg) translateX(-50%) translateY(-50%);
        transform-origin: 0 0;
        transition: all 0.5s;
    }
    .matrixvideo-expand &:after {
        margin-top: 0.15rem;
        transform: rotate(-45deg) translateX(-50%) translateY(-50%);
    }
}
.matrixvideo-children {
    display: none;
    border-top: 1px solid #979797;
    text-indent: 1rem;
    a {
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    em {
        max-width: calc(100% - 2rem);
    }
    li:last-child {
        border-bottom: 0;
    }
    .matrixvideo-expand & {
        display: block;
    }
}
.matrixvideo-list-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 3rem;
    height: 100%;
    line-height: 1.1;
}
.matrixvideo-type {
    padding: 0 0.2rem;
    border: 1px solid #979797;
    border-radius: 5px;
    font-size: 12px;
    transform: scale(0.8);
}
@for $i from 1 through 3 {
    .camera-icon-#{$i}:before {
        background-image: url(../images/camera-#{$i}.svg);
    }
}
.fullscreen,
.plane {
    .video-tools {
        position: absolute;
        right: 1.14rem;
        top: 1.14rem;
        z-index: 10;
        button {
            width: 3.21rem;
            height: 3.21rem;
            margin-left: 1.07rem;
        }
    }
}
.fullscreen-bd,
.fullscreen-canvas {
    position: absolute;
    left: 0;
    width: 100%;
}
.fullscreen-bd {
    top: 0;
    height: 100%;
}
.fullscreen-canvas {
    top: 50%;
    transform: translateY(-50%);
    touch-action: none;
    &:before {
        display: block;
        content: "";
        padding-top: 56%; // ratio = 16:9
    }

}
.fullscreen-hd {
    position: absolute;
    left: 1.14rem;
    top: 1.14rem;
    > button {
        float: left;
        margin-right: 0.5rem;
    }
}
.fullscreen-back,
.fullscreen-close {
    // position: absolute;
    // left: 1.14rem;
    // top: 1.14rem;
    width: 3.21rem;
    height: 3.21rem;
    background: no-repeat center center;
    background-size: auto 80%;
}
.fullscreen-back {
    background-image: url(../images/back.svg);
}
.fullscreen-close {
    background-image: url(../images/close.svg);
}
.fullscreen-btns {
    float: left;
    // position: absolute;
    // left: 4.7rem;
    // top: 1.14rem;
    button {
        width: 3.21rem;
        height: 3.21rem;
        border-radius: 0.68rem;
        background-color: rgba(255, 255, 255, 0.4);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 60%;
    }
    > button {
        margin-right: 0.5rem;
    }
    .plane & {
        left: 1.14rem;
    }
}
.fullscreen-move {
    background-image: url(../images/move.svg);
    .fullscreen-selected-bg & {
        background-color: rgba(255, 255, 255, 0.8);
    }
    .fullscreen-matrixvideo & {
        display: none;
    }
}
.fullscreen-reset {
    background-image: url(../images/reset.svg);
}
.fullscreen-draw {
    position: relative;
    display: inline-block;
    width: 3.21rem;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 0.68rem;
}
.fullscreen-hd,
.video-tools {
    opacity: 1;
    transition: all 0.5s;
    .fullscreen-autohide & {
        opacity: 0;
    }
}
.fullscreen-pen {
    width: 3.21rem;
    height: 3.21rem;
    background: url(../images/pen.svg) no-repeat center center;
    background-size: 60%;
    cursor: pointer;
    &:hover,
    .fullscreen-draw-expand & {
        background-color: rgba(255, 255, 255, 0.4);
    }
}
.fullscreen-draw-expand {
    width: 12.84rem;
}
.fullscreen-draw-bd {
    display: flex;
    position: absolute;
    left: 3.21rem;
    top: 0;
    height: 3.21rem;
    border-radius: 0 0.68rem 0.68rem 0;
    li {
        width: 3.21rem;
        height: 3.21rem;
        position: relative;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        &:hover {
            background-color: rgba(255, 255, 255, 0.4);
        }
        &:hover:before {
            display: none;
        }
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            height: 56%;
            transform: translateY(-50%);
            border-left: 1px solid #000;
        }
        &:first-child:before {
            display: none;
        }
    }
}
.fullscreen-width,
.fullscreen-color {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 1.6rem;
    }
}
.fullscreen-width:after {
    background: #000;
}
$pen-width-list: 2 4 6;
@each $item in $pen-width-list {
    .fullscreen-width-#{$item}:after {
        height: $item * 1px;
    }
}
.fullscreen-color:after {
    height: 1.6rem;
}
$pen-color-list: 'ff0000' 'ffed00' '0018ff' '1cff00';
@each $item in $pen-color-list {
    .fullscreen-color-#{$item}:after {
        background-color: unquote('#' + $item);
    }
}
.fullscreen-clear {
    background-image: url(../images/clear.svg);
    background-size: 40%;
}
.plane {
    height: 100%;
    background: #000;
}
.plane-camera,
.plane-map {
    transition: all 0.5s;
    overflow: hidden;
}
.plane-camera,
.plane-map {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    color: #fff;
}
.plane-video-overlay,
.plane-map-overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: scale(1);
}
.plane-view-map .plane-video-overlay,
.plane-view-camera .plane-map-overlay {
    display: block;
}
.plane-map {
    .video-restore {
        display: none;
    }
}
.plane-view-camera .plane-camera,
.plane-view-map .plane-map {
    .video-restore {
        display: block;
    }
}
.plane-camera-hd {
    padding: 0.29rem 0 0.29rem 1rem;
    font-size: 1.29rem;
    line-height: 2.14rem;
    li {
        float: left;
        margin-left: 0.5rem;
        &:first-child {
            margin-left: 0;
        }
    }
    em {
        display: inline-block;
        padding: 0 2px;
        border-radius: 2px;
    }
}
.plane-name {
    background-color: #5FAF03;
}
.plane-operator {
    background-color: #AF4F03;
}
.plane-address {
    background-color: #036DAF;
}
.plane-duration {
    background-color: #AEAF03;
}
.plane-camera-bd {
    position: relative;
    padding-top: 56%;
    overflow: hidden;
    touch-action: none;
    canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
.plane-camera-ft {
    padding: 0.8rem;
    font-size: 1.71rem;
    line-height: 1.5;
}
.plane-map {
    left: 50%;
}
.plane-map-bd {
    width: 100%;
    height: 100%;
    touch-action: none;
}
.plane-view-camera .plane-camera,
.plane-view-map .plane-map {
    left: 0;
    width: 100%;
}
.plane-view-camera {
    .plane-camera {
        display: flex;
        flex-direction: column;
    }
    .plane-camera-bd {
        flex-grow: 1;
        padding-top: 0;
    }
    .plane-camera-ft {
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: calc(100% - 12rem);
        background: rgba(0, 0, 0, 0.5);
    }
}
.plane-view-camera .plane-camera-hd {
    margin-left: -13.36rem;    
}
.plane-view-map {
    .fullscreen-btns,
    .plane-camera-bd .video-tools,
    .plane-camera-hd,
    .plane-camera-ft {
        display: none;
    }
}
.plane-view-camera .plane-map,
.plane-view-map .plane-camera {
    z-index: 10;
    left: 100%;
    top: 100%;
    transform: translateX(-100%) translateY(-100%);
    margin: -1.43rem 0 0 -1.43rem;
    width: 10.5rem;
    height: 10.5rem;
}
.plane-view-map .plane-camera {
    height: 5.91rem; // ratio: 16 / 9
}
.share {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}
.share-inner {
    display: flex;
    width: 57%;
    max-width: 67rem;
    max-height: 74%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 10px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}
.share-aside {
    display: flex;
    width: 36%;
    background: #CFCFCF;
    padding: 2rem;
    align-items: center;
    img {
        display: block;
        width: 100%;
        margin-bottom: 0.5rem;
        border-radius: 8px;
    }
    p {
        font-size: 1.29rem;
    }
}
.share-main {
    position: relative;
    flex-grow: 1;
    padding-top: 8.28rem;
}
.share-hd {
    position: absolute;
    left: 0;
    top: 1.43rem;
    width: 100%;
    padding: 0 1.43rem;
    h2 {
        float: left;
        font-size: 1.71rem;
    }
}
.share-btn {
    float: right;
    button {
        margin-left: 1.4rem;
        width: 4.29rem;
        height: 2.14rem;
        border-radius: 0.36rem;
        background: #C7C7C7;
        color: #fff;
        font-size: 1.29rem;
        &[type="submit"] {
            background: #287FFF;
        }
        &[disabled] {
            background-color: #C7C7C7;
        }
    }
}
.share-field {
    clear: both;
    width: 100%;
    margin-top: 1.43rem;
    padding: 0.3rem 0.5rem 0.3rem 2.3rem;
    border-radius: 0.5rem;
    border: 0;
    background: #fff url(../images/search2.svg) no-repeat 0.5rem center;
    background-size: auto 70%;
    font-size: 1.2rem;
}
.share-list {
    position: relative;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    > ul {
        padding: 0 1.43rem;
    }
    li {
        position: relative;
        margin: 0.7rem 0;
        overflow: hidden;
        &:before {
            content: "";
            float: left;
            width: 3rem;
            height: 3rem;
            margin-right: 0.5rem;
            border-radius: 10px;
            background-color: #D8D8D8;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: auto 55%;
        }
    }
    a:hover {
        color: #287FFF;
    }
    .share-user {
        padding-right: 2rem;
    }
    label {
        display: block;
        height: 3rem;
    }
}
.share-child {
    display: none;
    clear: both;
    margin-left: 1.5rem;
}
.share-item-expand {
    ul {
        display: block;
    }
}
.empty {
    position: absolute;
    left: 50%;
    top: 30%;
    width: 80%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
}
.share-group:before {
    background-image: url(../images/group.svg);
}
.share-user:before {
    background-image: url(../images/user.svg);
}
.share-name {
    max-width: 15em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.29rem;
    line-height: 3rem;
    .share-group & {
        line-height: normal;
    }
}
.share-summary {
    font-size: 1.07rem;
}
.checkbox {
    input {
        display: none;
    }
    i {
        content: "";
        display: inline-block;
        width: 1.82rem;
        height: 1.82rem;
        border: 1px solid #BDBDBD;
        border-radius: 100%;
        background: #fff url(../images/check.svg) no-repeat 0 -9999px;
        background-size: 55%;
    }
    input:checked + i {
        background-color: #287FFF;
        background-position: center center;
    }
    .share & {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}
.fullscreen-bottom {
    position: absolute;
    right: 1.14rem;
    bottom: 1.14rem;
    width: 7.86rem;
}
.compass {
    position: relative;
    margin: 0 auto 1rem auto;
    padding-top: 100%;
    border-radius: 100rem;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.35);
    &:before,
    &:after {
        content: "";
        position: absolute;
    }
    &:before {
        left: 50%;
        top: 0;
        height: 100%;
        border-left: 1px solid rgba(255, 255, 255, 0.15);
    };
    &:after {
        top: 50%;
        left: 0;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
    }
}
.compass-camera,
.compass-type {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    transition: all 0.3s;
}
.compass-camera {
    width: 50%;
    height: 50%;
    background: url(../images/light.svg) no-repeat left center;
    transform-origin: left center;
    background-size: contain;
}
.compass-type {
    transform: translateX(-50%) translateY(-50%);
    width: 1.5rem;
    height: 1.86rem;
    background-repeat: no-repeat;
    background-size: contain;
    .compass-head & {
        background-image: url(../images/arrow.svg);
    }
    .compass-tail & {
        background-image: url(../images/arrow2.svg);
    }
}
.pole {
    text-align: center;
    button,
    span {
        display: inline-block;
        margin-left: 0.5rem;
    }
}
.pole-bd {
    button {
        width: 1.8rem;
        height: 1.8rem;
        border: 0;
        border-radius: 100rem;
        background-color: rgba(255, 255, 255, 0.4);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 64%;
    }
}
.pole-up {
    background-image: url(../images/pole-up.svg);
}
.pole-pause {
    background-image: url(../images/pole-pause.svg);
    .pole-bd & {
        background-size: 50%;
    }
}
.pole-down {
    background-image: url(../images/pole-down.svg);
}
.pole-ft {
    margin-top: 0.2rem;
    padding-top: 0.2rem;
    border-top: 1px solid #fff;
    color: #fff;
    span {
        width: 1.2rem;
    }
}
.zoom {
    position: relative;
    width: 4.29rem;
    margin: 0 auto;
    border-radius: 0.29rem;
    background: rgba(255, 255, 255, 0.6);
    font-size: 0;
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        height: 65%;
        transform: translateY(-50%);
        border-left: 1px solid #4a4a4a;
    }
    button {
        width: 2.14rem;
        height: 2.14rem;
        background: no-repeat center center;
    }
    .zoom-in {
        background-image: url(../images/zoom-in.svg);
    }
    .zoom-out {
        background-image: url(../images/zoom-out.svg);
    }
}
.video-direction {
    position: absolute;
    right: 1rem;
    bottom: 3.21rem;
}
.video-direction-bd {
    position: relative;
    width: 8.57rem;
    height: 8.57rem;
    background-size: contain;
    background: url(../images/direction.svg) no-repeat center center;
}
.video-direction-bd + .zoom,
.zoom + .video-direction-bd {
    margin-top: 1rem;
}
.video-direction-button {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}
.video-direction-north {
    top: 0.57rem;
    left: 50%;
    margin-left: -1rem;
    border-bottom: 1.43rem solid #000;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    &:active {
        border-bottom-color: #fff;
    }
}
.video-direction-east {
    right: 0.57rem;
    top: 50%;
    margin-top: -1rem;
    border-left: 1.43rem solid #000;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    &:active {
        border-left-color: #fff;
    }
}
.video-direction-south {
    bottom: 0.57rem;
    left: 50%;
    margin-left: -1rem;
    border-top: 1.43rem solid #000;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    &:active {
        border-top-color: #fff;
    }
}
.video-direction-west {
    left: 0.57rem;
    top: 50%;
    margin-top: -1rem;
    border-right: 1.43rem solid #000;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    &:active {
        border-right-color: #fff;
    }
}
.video-direction-center {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1.43rem 0 0 -1.43rem;
    width: 2.86rem;
    height: 2.86rem;
    border-radius: 100rem;
    line-height: 1;
    font-size: 1.29rem;
    text-align: center;
    color: #fff;
    background: url(../images/reset.svg) no-repeat center center;
    background-size: 50%;
    &:active {
        background-color: #fff;
        color: #747474;
    }
}
.loading {
    margin: 2rem auto;
    text-align: center;
    span {
        display: inline-block;
        padding-top: 3rem;
        background: url(../images/loading.svg) no-repeat center top;
        background-size: auto 2rem;
        color: #666;
    }
}