<div v-if="video" class="fullscreen" :class="{ 'fullscreen-autohide': btnStatus === 'hide' }"
    @transitionend="updateSize"
    @pointerdown="showBtn"
    @mouseenter="showBtn"
    @mouseleave="hideBtn">

   <div class="fullscreen-canvas">
        <canvas ref="video-canvas" class="fullscreen-bd" style="background-color: #ccc;"><!-- 视频用 --></canvas>
        <canvas ref="pen-canvas" class="fullscreen-bd"
            v-update-canvas-size="'pen'"
            @mousewheel.prevent="zoom($event)" 
            @wheel.prevent="zoom($event)"
            @touchstart="dragstart($event)"
            @pointerdown="dragstart($event)"
            @pointermove="dragmove($event)"
            @pointerup="dragend"
            @pointerleave="dragend"
            @pointercancel="dragend"></canvas>
    </div>
    
    <div class="fullscreen-hd">
        <button v-if="video.picture" class="fullscreen-close" type="button" @click="video.picture = null"></button>
        <button v-else class="fullscreen-back" type="button" @click="$emit('exitfullscreen')"></button>
        
        <div class="fullscreen-btns" :class="['fullscreen-selected-' + selected]">
            <button class="fullscreen-move" @click="drawExpand = false"></button>
            <button v-if="moved" class="fullscreen-reset" @click="resetPosition"></button>
            <div class="fullscreen-draw" :class="{'fullscreen-draw-expand': drawExpand}">
                <div class="fullscreen-pen" title="画笔" @click="drawExpand = !drawExpand"></div>
                <ul class="fullscreen-draw-bd">
                    <li :class="['fullscreen-width fullscreen-width-' + width]" title="粗细" @click="changeWidth"></li>
                    <li :class="['fullscreen-color fullscreen-color-' + color]" title="颜色" @click="changeColor"></li>
                    <li class="fullscreen-clear" title="清除" @click="clear"></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="video-tools">
        <button v-if="video.picture" type="button" class="video-share" @click="share"></button>
        <button v-else type="button" class="video-camera" @click="snapshoot"></button>
    </div>

    <div class="video-direction">
        <div class="video-direction-bd">
            <button @click="direction('north')" class="video-direction-button video-direction-north" type="button">北</button>
            <button @click="direction('east')" class="video-direction-button video-direction-east" type="button">东</button>
            <button @click="direction('south')" class="video-direction-button video-direction-south" type="button">南</button>
            <button @click="direction('west')" class="video-direction-button video-direction-west" type="button">西</button>
            <button @click="direction('reset')" class="video-direction-center" type="button"></button>
        </div>

        <div class="zoom">
            <button @click="zoomIn" class="zoom-in" type="button" title="放大"></button>
            <button @click="zoomOut" class="zoom-out" type="button" title="缩小"></button>
        </div>
    </div>

</div>
