<div class="home">
    <div class="map">
        <div id="map" class="map-bd"></div>
    </div>
    <component is="search"></component>
    <component is="video-list"></component>
    <!-- <component is="fullscreen-video"></component> -->
</div>