<div class="plane" :class="['plane-view-' + view]">
    <div class="plane-camera" @transitionend="updateSize">
        <ul class="plane-camera-hd clearfix">
            <li>执飞：<em class="plane-name">1号四轴</em></li>
            <li>飞手：<em class="plane-operator">1号</em></li>
            <li>起飞地点：<em class="plane-address">香山</em></li>
            <li>飞行时长：<em class="plane-duration">00:15:30</em></li>
        </ul>
        <div class="plane-camera-bd">
            <canvas ref="video-canvas" style="background-color: #ccc;"></canvas>
            <canvas ref="pen-canvas" class="fullscreen-bd"
                v-update-canvas-size="'pen'"
                @touchstart="dragstart($event)"
                @pointerdown="dragstart($event)"
                @pointermove="dragmove($event)"
                @pointerup="dragend"
                @pointerleave="dragend"
                @pointercancel="dragend"></canvas>
            <div class="fullscreen-hd">
                <div class="fullscreen-btns" :class="['fullscreen-selected-' + selected]">
                    <div class="fullscreen-draw" :class="{'fullscreen-draw-expand': drawExpand}">
                        <div class="fullscreen-pen" title="画笔" @click="drawExpand = !drawExpand"></div>
                        <ul class="fullscreen-draw-bd">
                            <li :class="['fullscreen-width fullscreen-width-' + width]" title="粗细" @click="changeWidth"></li>
                            <li :class="['fullscreen-color fullscreen-color-' + color]" title="颜色" @click="changeColor"></li>
                            <li class="fullscreen-clear" title="清除" @click="clear"></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="video-tools">
                <button v-if="picture" type="button" class="video-share" @click="share"></button>
                <button v-else type="button" class="video-camera" @click="snapshoot"></button>
                <button v-if="view !== 'default'" class="video-restore" @click="view = 'default'"></button>
                <button v-else class="video-fullscreen" @click="view = 'camera'"></button>
            </div>
            <div class="plane-video-overlay" @click="view = 'camera'"></div>
        </div>
        <div class="plane-camera-ft">
            高度：60M | 速度：12.8km/h | 电量：40% <br>
            机型：大疆Inspire 2 | 服役时间：2017-3-20 <br>
            飞行记录：170小时 | 1090公里 | 389次
        </div>
    </div>

    <div class="plane-map">
        <div ref="map" class="plane-map-bd"></div>
        <div class="plane-map-overlay" @click="view = 'map'"></div>
        <div class="video-tools">
            <button v-if="view !== 'default'" class="video-restore" @click="view = 'default'"></button>
            <button v-else class="video-fullscreen" @click="view = 'map'"></button>
        </div>
    </div>
</div>
