<div class="search" :class="{'search-expand': expand}">
    <button class="search-toggle" type="button" @click="expand = true"></button>
    <button class="search-collpase" type="button" @click="expand = false"></button>
    <div class="search-inner">
        <form action="" @submit.prevent="search">
            <div class="search-hd">
                <input v-model.trim="keyword" class="search-field" type="text" placeholder="输入要搜索的地址">
                <button class="search-submit" type="submit"></button>
            </div>
        </form>

        <div class="search-bd" :style="{overflow: overflow}" @touchmove="smoothScroll" @mousewheel="smoothScroll">
            <ul v-if="accident.length > 0" class="search-list search-accident">
                <li v-for="item in accident"><a href="">{{item.name}}</a></li>
            </ul>
            <ul v-if="list.length > 0" class="search-list">
                <template v-for="item in list">
                    <li :class="{'search-item-dropdown': item.children && item.children.length > 0, 'search-item-expand': item.expand}">
                        <a href="" @click.prevent="toggleDropdown(item)">{{item.name}}</a>
                        <ul v-if="item.children && item.children.length > 0">
                            <li v-for="one in item.children"><a href="">{{one.name}}</a></li>
                        </ul>
                    </li>
                </template>
            </ul>
        </div>
    </div>
</div>
