<div class="share" v-if="show">
    <div class="share-inner">
        <div class="share-aside">
            <div class="share-aside-bd">
                <img :src="src" alt="">
                <p>{{text}}</p>
            </div>
        </div>

        <div class="share-main">
            <div class="share-hd">
                <h2>分享</h2>
                <div class="share-btn">
                    <button type="submit" @click="submit" :disabled="checked.length < 1">分享</button>
                    <button type="button" @click="show = false">取消</button>
                </div>
                <input v-model.trim="keyword" class="share-field" type="search" placeholder="搜索个人或群组">
            </div>

            <div class="share-list">
                <ul v-if="list.length > 0">
                    <li v-for="item in list" :class="[item.list ? 'share-group' : 'share-user', item.expand ? 'share-item-expand' : '']">
                        <template v-if="item.list">
                            <div class="share-name"><a href="" @click.prevent="toggle(item)">{{item.name}}</a></div>
                            <div class="share-summary">{{item.list.length}}人</div>
                            <ul class="share-child">
                                <li class="share-user" v-for="one in item.list">
                                    <label>
                                        <div class="share-name">{{one.name}}</div>
                                        <div class="share-summary">{{item.name}}</div>
                                        <span class="checkbox"><input v-model="checked" :value="one.id" type="checkbox"><i></i></span>
                                    </label>
                                </li>
                            </ul>
                        </template>
                        <template v-else>
                            <label>
                                <div class="share-name">{{item.name}}</div>
                                <span class="checkbox"><input v-model="checked" :value="item.id" type="checkbox"><i></i></span>
                            </label>
                        </template>
                    </li>
                </ul>  
                <div v-else class="empty">无搜索结果</div>          
            </div>
        </div>
    </div>
</div>
