<div class="video-list" :class="{'video-expand': expand}"><!-- .video-expand -->
    <button class="video-toggle" type="button" @click="expand = !expand"></button>
    <div ref="video-list-inner" class="video-list-inner" :style="{overflow: overflow}" @touchmove="smoothScroll" @mousewheel="smoothScroll" @scroll="scroll">
        <div v-for="(item, index) in list" :ref="'video-item-' + index" class="video-item" :class="{'video-playing': item.playing, 'video-item-selected': index === selectedIndex}">
            <div class="video-item-hd">
                <canvas v-update-canvas-size></canvas>
                <div class="video-item-order">{{index + 1}}</div>
                <button class="video-status" type="button" @click="togglePlay(item)"></button>
                <button class="video-btn-fullscreen" type="button" @click="fullscreen"></button>
            </div>
            <div class="video-item-bd">
                <div class="video-id">{{item.id}}</div>
                <div class="video-title"><p>{{item.address}}</p></div>
                <div class="video-tools">
                    <button class="video-play" type="button" @click="fullscreen"></button>
                    <button class="video-camera" type="button" @click="snapshoot"></button>
                    <button class="video-share" type="button" @click="share(item)"></button>
                </div>
            </div>
        </div>
    </div>
    <a v-if="showButtonTop" href="#" class="video-top" @click.prevent="scrollTop"></a>
</div>
