<div class="live-tab-item live-tab-camera">
    <div class="cameraview-img" :class="['cameraview-selected-' + selectedId]">
        <img src="images/cameraview.png" alt="">   
        <button class="cameraview-pointer-1" style="left: 31%; top: 18.5%;" @click.prevent="setVideo({id: '1'})"></button>
        <button class="cameraview-pointer-2" style="left: 68%; top: 18.5%;" @click.prevent="setVideo({id: '2'})"></button>
        <button class="cameraview-pointer-3" style="left: 30%; top: 41%;" @click.prevent="setVideo({id: '3'})"></button>
        <button class="cameraview-pointer-4" style="left: 68%; top: 41%;" @click.prevent="setVideo({id: '4'})"></button>
        <button class="cameraview-pointer-head" title="车头摄像机" style="left: 13.5%; top: 85%;" @click.prevent="setHeadVideo()"></button>
        <button class="cameraview-pointer-tail" title="车尾摄像机" style="left: 90.5%; top: 79%;" @click.prevent="setTailVideo()"></button>
    </div>
</div>
