<div class="fullscreen live" :class="{'live-aside-selected': asideSelected}">
    <div class="live-aside">
        <button class="fullscreen-toggle" type="button" @click="asideSelected = !asideSelected"></button>
        <div class="live-tab">
            <keep-alive>
                <component :is="tab + 'Aside'" @video="setVideo"></component>
            </keep-alive>
            <div class="live-tab-ft" :class="['live-selected-' + tab]">
                <button class="live-tab-btn-camera" type="button" @click="tab = 'camera'">车载摄像机</button>
                <button class="live-tab-btn-matrix" type="button" @click="tab = 'matrix'">矩阵视频源</button>
            </div>    
        </div>
    </div>

    <div class="live-main">
        <div class="live-video live-main-bd">
            <component is="live-video" :video="video"></component>
        </div>    
        <div class="live-video live-main-ft" :class="{'live-main-selected': liveMainSelected}">
            <button class="live-main-toggle" type="button" @click="liveMainSelected = !liveMainSelected"></button>
            <div class="video-tools">
                <button type="button" class="video-fullscreen" @click="requestFullscreen($event)" title="全屏"></button>
                <button type="button" class="video-restore" @click="exitFullscreen($event)" title="退出全屏"></button>
            </div>
            <div class="video-box">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAMAAAAM9FwAAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////AAAAVcLTfgAAAAF0Uk5TAEDm2GYAAAAOSURBVHjaYmAYpAAgwAAAmQABh704YAAAAABJRU5ErkJggg==" alt="">
                <canvas style="background-color: rgb(204, 204, 204);"></canvas>
            </div>
        </div>
    </div>
</div>
