<div class="live-tab-item live-tab-matrix">
    <ul class="matrixvideo-list" :style="{overflow: overflow}" @touchmove="smoothScroll" @mousewheel="smoothScroll">
        <li v-for="(item, index) in list" :class="{'matrixvideo-expand': item.expand}">
            <a :class="{selected: selectedId === item.id}" href="" @click.prevent="setVideo(item)">
                <div class="matrixvideo-list-aside">
                    <div class="matrixvideo-order">{{index + 1}}</div>
                    <div v-if="item.type" class="matrixvideo-type">{{item.type}}</div>
                </div>
                <em>{{item.name}}</em>
                <button v-if="item.children && item.children.length > 0" class="matrixvideo-btn-expand" type="button" @click="toggleItem(item)"></button>
            </a>
            <ul class="matrixvideo-children">
                <li v-for="one in item.children">
                    <a :class="{selected: selectedId === one.id}" href="" @click.prevent="setVideo(one)">{{one.name}}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
