<div v-if="video" class="fullscreen" :class="{ 'fullscreen-autohide': btnStatus === 'hide' }"
    @transitionend="updateSize"
    @pointerdown="showBtn"
    @mouseenter="showBtn"
    @mouseleave="hideBtn">

    <div class="video-box">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAMAAAAM9FwAAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////AAAAVcLTfgAAAAF0Uk5TAEDm2GYAAAAOSURBVHjaYmAYpAAgwAAAmQABh704YAAAAABJRU5ErkJggg==" alt="">
        <canvas ref="video-canvas" class="fullscreen-bd" style="background-color: #ccc;" v-play="video"><!-- 视频用 --></canvas>
        <canvas ref="pen-canvas" class="fullscreen-bd"
            v-update-canvas-size="'pen'"
            @mousewheel.prevent="zoom($event)" 
            @wheel.prevent="zoom($event)"
            @touchstart="dragstart($event)"
            @pointerdown="dragstart($event)"
            @pointermove="dragmove($event)"
            @pointerup="dragend"
            @pointerleave="dragend"
            @pointercancel="dragend"></canvas>
    </div>
    
    <div class="fullscreen-hd">
        <button v-if="video.picture" class="fullscreen-close" type="button" @click="video.picture = null"></button>
        
        <div class="fullscreen-btns" :class="['fullscreen-selected-' + selected]">
            <button v-if="!video.disableCtrl" class="fullscreen-move" @click="drawExpand = false"></button>
            <button v-if="moved" class="fullscreen-reset" @click="resetPosition"></button>
            <div class="fullscreen-draw" :class="{'fullscreen-draw-expand': drawExpand}">
                <div class="fullscreen-pen" title="画笔" @click="drawExpand = !drawExpand"></div>
                <ul class="fullscreen-draw-bd">
                    <li :class="['fullscreen-width fullscreen-width-' + width]" title="粗细" @click="changeWidth"></li>
                    <li :class="['fullscreen-color fullscreen-color-' + color]" title="颜色" @click="changeColor"></li>
                    <li class="fullscreen-clear" title="清除" @click="clear"></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="video-tools">
        <button v-if="video.picture" type="button" class="video-share" @click="share"></button>
        <button v-else type="button" class="video-camera" @click="snapshoot"></button>
        <button type="button" class="video-fullscreen" @click="requestFullscreen($event)" title="全屏"></button>
        <button type="button" class="video-restore" @click="exitFullscreen($event)" title="退出全屏"></button>
    </div>

    <div class="fullscreen-bottom">
        <div v-if="video.compass" class="compass" :class="['compass-' + video.compass.type]">
            <div class="compass-camera" :style="{
                transform: 'translateY(-50%) rotate(' + video.compass.rotate + 'deg)'
            }"></div>
            <div class="compass-type"></div>
        </div>
        <div v-if="video.pole" class="pole">
            <div class="pole-bd">
                <button class="pole-up"></button>
                <button class="pole-pause"></button>
                <button class="pole-down"></button>
            </div>
            <div class="pole-ft">
                <span>升</span>
                <span>降</span>
                <span>杆</span>
            </div>
        </div>
    </div>
</div>
